<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center mx-auto">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-3">
                            <h4 class="section-title">서비스 모니터링</h4>
                        </div>
                    </div>

                    <div class="col-12 mt-2 mb-4 mx-auto">
                        <iframe src="https://3.36.98.12:3000/d/dfc62b67-629a-41d7-8fc4-f15632600309/mysql-admin-management?orgId=1&from=1702879914167&to=1702890714167&theme=light" width="100%" height="900px" style="border:none;"></iframe>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
