<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">메인 페이지</h4>
                        </div>

                        <div class="row justify-content-center">
                            <div style="margin-top: 5%" class="card bg-outline-light bg-transparent text-dark shadow-lg col-12 post-form">
                                <div class="col-12 mt-5"></div>
                                    <div class="card p-4 col-6 post-form align-self-center">
                                        인사이트1
                                    </div>
                                    <div class="card p-4 col-6 post-form align-self-center">
                                        인사이트2
                                    </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div style="margin-top: 5%" class="card bg-outline-light bg-transparent text-dark shadow-lg col-12 post-form">
                                <div class="col-12 mt-5"></div>

                                <!-- 입력, 검색섹션 시작 -->
                                <div class="card p-4 col-6 post-form align-self-center">

                                </div>

                                <div class="card p-4 col-6 post-form align-self-center">

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
