<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
            /*<![CDATA[*/
            var chartData = /*[[${chartData}]]*/ null;
            /*]]>*/

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Post');
            data.addColumn('number', 'The number of Applicants');

            for (var i = 0; i < chartData.length; i++) {
                var post = chartData[i];
                var label = "공고 타입: " + post.postType + "\n공고 제목: " + post.title;
                data.addRow([label, post.applicant]);
            }

            var options = {
                bars: 'horizontal',
                series: {
                    0: {axis: 'The number of Applicants'}
                },
                hAxis: {
                    title: 'The number of Applicants',
                    format: '0'
                },
                legend: { position: 'none' },
                tooltip: { isHtml: true },
                chartArea: { width: '50%' }
            };

            var chart = new google.visualization.BarChart(document.getElementById('dual_x_div'));
            chart.draw(data, options);
        }
    </script>
    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">지원자가 많은 공고 TOP 3</h4>
                        </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="card p-2 my-3 col-6 post-form align-self-center bg-white" style="width: 1000px; height: 600px;" id="dual_x_div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</html>