<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">기술스택 관리</h4>
                        </div>

                        <div class="row justify-content-center">
                            <div class="card bg-outline-light bg-transparent text-dark shadow-lg col-12 post-form">
                                <div class="col-12 mt-5"></div>

                                <!-- 입력, 검색섹션 시작 -->
                                <div class="card p-4 col-11 post-form align-self-center">
                                    <div class="input-group m-1">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <button class="btn " type="submit">검색</button>
                                    </div>
                                </div>

                                <!-- 목록 시작 -->
                                <div class="card mt-4 mb-4 p-4 col-11 post-form align-self-center">
                                    <div class="mb-1">
                                        <label for="name">스택입력</label>
                                    </div>
                                        <div class="col-12 mt-2 input-group">
                                            <input type="text" name="name" id="name"
                                                   class="form-control" placeholder="스택명 기입" required="" />
                                            <button class="btn" type="button">등록</button>
                                        </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
