<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            // 페이지 로딩 시 초기 상태 설정
            initializePage();
        });

        function initializePage() {
            var posts = document.querySelectorAll('[id^="postPage"]');

            posts.forEach(function (post, index) {
                if (index === 0) {
                    var page = document.getElementById("page" + index);
                    // 초기에는 첫 번째 post만 보이도록 설정
                    post.style.display = 'block';
                    page.classList.add("active");
                } else {
                    // 나머지 post는 숨김
                    post.style.display = 'none';
                }
            });
        }

        function showOnlySelected(selectedIndex) {
            var posts = document.querySelectorAll('[id^="postPage"]');
            posts.forEach(function (post) {
                var index = parseInt(post.id.replace('postPage', ''), 10);
                var page = document.getElementById("page" + index);
                if (index === selectedIndex) {
                    page.classList.add("active");
                    post.style.display = 'block';
                } else {
                    page.classList.remove("active");
                    post.style.display = 'none';
                }
            });
        }

        function sort(button) {
            let id = button.id;
            let postId = [[${postId}]];
            location.href = "/v1/company/post/applicant/1?sort=" + id + "&postId=" + postId;
        }

        function goList(){
            window.location.href = "/v1/company/post/list/1";
        }


        function resumeClick(applicationLetterId, userId) {
            window.location.href = '/v1/user/my-page/apply-list/submitted-resume/' + applicationLetterId + '?userId=' + userId;
        }

        function coverLetterClick(applicationLetterId, userId) {
            window.location.href = '/v1/user/my-page/apply-list/submitted-coverLetter/' + applicationLetterId + '?userId=' + userId;
        }

    </script>
    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-10 col-12 mx-auto">
                        <div class="section-title-wrap mb-3">
                            <h4 class="section-title">지원자 목록</h4>
                        </div>
                    </div>

                    <div class="row col-lg-10 col-12 mx-auto justify-content-center">
                        <div class="row mb-3">
                            <div class="col-lg-9 col-12 my-2">
                                <div class="btn-group">
                                    <button id="SUBMIT_DATE_DESC" type="button"
                                            th:class="${sort == 'SUBMIT_DATE_DESC' ? 'btn btn-outline-secondary active' : 'btn btn-outline-secondary'}"
                                            onclick="sort(this)">최신순
                                    </button>
                                    <button id="SUBMIT_DATE_ASC" type="button"
                                            th:class="${sort == 'SUBMIT_DATE_ASC' ? 'btn btn-outline-secondary active' : 'btn btn-outline-secondary'}"
                                            onclick="sort(this)">
                                        오래된순
                                    </button>
                                    <button id="NAME" type="button"
                                            th:class="${sort == 'NAME' ? 'btn btn-outline-secondary active' : 'btn btn-outline-secondary'}"
                                            onclick="sort(this)">이름순
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 my-2 d-lg-flex justify-content-end">
                                <button type="button" class="custom-border-option-btn" id="goListBtn" onclick="goList()">공고관리 돌아가기</button>
                            </div>
                        </div>
                    </div>

                    <!-- 목록 페이지 시작 -->
                    <div class="col-lg-12 col-12 my-4 text-center"
                         th:if="${#lists.size(applicantList) == 0 or applicantList==null}">
                        <h5>지원자가 없습니다.</h5>
                    </div>
                    <!-- 목록 1칸 -->
                    <div class="col-lg-10 col-12 my-2" th:each="postList, postListStat : ${applicantList}"
                         th:id="'postPage'+${postListStat.index}">
                        <div class="col-12 my-2 mx-auto" th:each="post, postStat : ${postList}">
                            <div class="custom-block d-flex">
                                <div class="custom-block-info ">
                                    <div class="mb-2 d-inline-flex" th:if="${post.resumeTitle != 'null'}">
                                        <button type="button" class="btn btn-outline-secondary mx1"
                                                th:if="${post.resumeTitle != 'null'}"
                                                th:onclick="resumeClick([[${post.applicationLetterId}]], [[${post.userId}]])">
                                            이력서
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary mx-1"
                                                th:if="${post.resumeTitle != 'null'}"
                                                th:onclick="coverLetterClick([[${post.applicationLetterId}]], [[${post.userId}]])">
                                            자기소개서
                                        </button>
                                    </div>
                                    <h6>
                                        <a th:text="${post.email}" th:if="${post.email!='null'}"></a>
                                    </h6>


                                    <div class="custom-block-bottom d-flex flex-column flex-md-row mt-1">
                                        <div class="col-auto d-flex m-2"><span>이름:<span
                                                th:text="${post.name}"></span></span></div>
                                        <div class="col-auto d-flex m-2"><span>주소:<span
                                                th:text="${post.address}"></span></span></div>
                                        <div class="col-auto d-flex m-2"><span>지원날짜: <span
                                                th:text="${post.submitDate}"></span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mx-auto">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center mt-5">
                                <li class="page-item" th:if="${strNum>=5}">
                                    <a class="page-link"
                                       th:href="@{/v1/company/post/applicant/{strNum}(strNum=${strNum}-5, postId=${postId}, sort=${sort})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <div th:each="post, postStat:${applicantList}">
                                    <li class="page-item" th:id="'page'+${postStat.index}"><a class="page-link"
                                                                                              th:onclick="showOnlySelected([[${postStat.index}]])"
                                                                                              th:text="${postStat.index+strNum}"></a>
                                    </li>
                                </div>
                                <li class="page-item"
                                    th:if="${#lists.size(applicantList)>=5 and #lists.size(applicantList[4])==9}">
                                    <a class="page-link"
                                       th:href="@{/v1/company/post/applicant/{strNum}(strNum=${strNum}+5, postId=${postId}, sort=${sort})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </section>

    </main>
</div>

</html>