<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script th:inline="javascript">


        function infoBtn(){
            window.location.href = '/v1/company/info/move';
        }

        // 뒤로가기
        function goBack() {
            window.history.back();
        }

    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-3">
                            <h4 class="section-title">기업정보</h4>
                        </div>

                        <div class="row justify-content-center">
                            <div class="row ">
                                <div class="col-lg-4 col-12">
                                    <div class="custom-block-icon-wrap">
                                        <div class="custom-block-image-wrap custom-block-image-detail-page">
                                            <img src="/images/ryon.jpg" class="custom-block-image img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8 col-12 ">
                                    <div class="custom-block-info post-form">

                                        <div class="col-10 mt-4 mx-auto">
                                        <h2 class="mb-2 " th:text="${info.name}">Kakao</h2> <!-- 기업명 -->
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label>대표자</label>
                                            <input type="text" readonly class="form-control mt-2" id="ceoName" name="ceoName" placeholder="" th:value="${info.ceoName}">
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label>업종</label>
                                            <input type="text" readonly class="form-control mt-2" id="sector" name="sector" th:value="${info.sector}">
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label>직원수</label>
                                            <input type="num" readonly class="form-control mt-2" id="employeeNum" name="employeeNum" th:value="${info.employeeNum}"
                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label>주소</label>
                                            <input type="text" readonly class="form-control-plaintext mt-2" id="address" name="address" th:value="${info.address}">
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label for="introduction">기업 소개</label>
                                            <textarea readonly class="form-control" name="introduction"
                                                      placeholder="기업 소개 글 입니다." required rows="10"
                                                      minlength="100" th:text="${info.introduction}"></textarea>
                                        </div>


                                        <div class="row col-12 my-5">
                                            <div class="col-4">
                                                <button type="button" class="form-control" id="back" onclick="goBack()">돌아가기</button>

                                            </div>
                                            <div class="col-4">

                                            </div>
                                            <div class="col-4">
                                                <button type="button" class="form-control" onclick="infoBtn()" >정보수정</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
