<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        /* 자소서 질문 추가 (임시) */
        function add_item() {
            // pre_set 에 있는 내용을 읽어와서 처리..
            var div = document.createElement('div');
            div.innerHTML = document.getElementById('pre_set').innerHTML;
            document.getElementById('field').appendChild(div);
        }

        function remove_item(obj) {
            // obj.parentNode 를 이용하여 삭제
            document.getElementById('field').removeChild(obj.parentNode);
        }

        /* 주소 변경하기 */
        /* 주소 API */
        window.onload = function () {
            document.getElementById("addressInputBtn").addEventListener("click", function () { //주소입력칸을 클릭하면
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("address").value = extraAddr;

                        } else {
                            document.getElementById("address").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('address').value = data.zonecode;
                        document.getElementById("address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("address").focus();
                    }
                }).open();
            });
        }

        function validateForm() {
            // 체크박스 중에서 최소한 하나는 체크되어야 함
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var isChecked = Array.from(checkboxes).some(function (checkbox) {
                return checkbox.checked;
            });

            if (!isChecked) {
                alert('스택 최소 하나 이상은 체크해주세요.');
                return false; // 폼 제출을 막음
            }

            var requiredInputs = document.querySelectorAll('[required]');

            for (var i = 0; i < requiredInputs.length; i++) {
                var input = requiredInputs[i];

                if (!input.value.trim()) {
                    alert(input.id + ' 입력 필드를 작성해주세요.');
                    return false; // 폼 제출을 막음
                }
            }

            var eventDateTimeInput = document.getElementById('endDate');
            var testStartDateInput = document.getElementById('testStartDate');
            var testEndDateInput = document.getElementById('testEndDate');
            var enteredDateTime = new Date(eventDateTimeInput.value);

            var testStartDate = new Date(testStartDateInput.value);
            var testEndDate = new Date(testEndDateInput.value);
            var currentDateTime = new Date();

            if (enteredDateTime < currentDateTime) {
                alert('마감일은 현재 시간 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            if (testStartDate < currentDateTime) {
                alert('테스트 시작일은 현재 시간 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            if (testEndDate < currentDateTime) {
                alert('테스트 마감일은 현재 시간 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            if (testEndDate < testStartDate) {
                alert('테스트 마감일은 테스트 시작일 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            if (testStartDate < enteredDateTime) {
                alert('테스트 시작일은 마감일 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            var title = document.getElementById('title').value;
            var mainTask = document.getElementById('mainTask').value;
            var workCondition = document.getElementById('workCondition').value;
            var qualification = document.getElementById('qualification').value;
            var tool = document.getElementById('tool').value;
            var benefit = document.getElementById('benefit').value;
            var special_skill = document.getElementById('special_skill').value;
            var process = document.getElementById('process').value;
            var notice = document.getElementById('notice').value;
            var address = document.getElementById('address').value;
            let questionGit = document.getElementById('questionGit');

            if (title.includes('<') || title.includes('>')) {
                alert('제목에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (mainTask.includes('<') || mainTask.includes('>')) {
                alert('주요업무에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (workCondition.includes('<') || workCondition.includes('>')) {
                alert('근무조건에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (qualification.includes('<') || qualification.includes('>')) {
                alert('자격요건에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (tool.includes('<') || tool.includes('>')) {
                alert('개발툴에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (benefit.includes('<') || benefit.includes('>')) {
                alert('복지 및 혜택에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (special_skill.includes('<') || special_skill.includes('>')) {
                alert('우대 기술사항에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (process.includes('<') || process.includes('>')) {
                alert('채용절차에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (notice.includes('<') || notice.includes('>')) {
                alert('유의사항에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (address.includes('<') || address.includes('>')) {
                alert('근무주소에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (questionGit.includes('<') || questionGit.includes('>')) {
                alert('깃주소에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            // 폼 제출을 허용
            return true;
        }

    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">공고 등록</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="card bg-outline-light text-dark ">
                        <form action="/v1/company/post/create" method="post" class="post-form" role="form" id="dateForm"
                              onsubmit="return validateForm()">
                            <div class="card-body">

                                <div class="col-8">
                                    <div class="mb-1">
                                        <label for="title">공고 제목</label><label class="text-danger"> *필수</label>
                                    </div>
                                    <input type="text" name="title" id="title"
                                           class="form-control" placeholder="공고제목" required=""/>
                                </div>
                                <div class="row">
                                    <div class="col-4 mt-2 ">
                                        <div class="mb-1">
                                            <label for="endDate">마감일</label><label class="text-danger"> *필수</label>
                                        </div>
                                        <input type="datetime-local" name="endDate" id="endDate"
                                               class="form-control" placeholder="마감일" required=""/>
                                    </div>
                                    <div class="col-4 mt-2">
                                        <div class="mb-1">
                                            <label for="career">경력</label><label class="text-danger"> *필수</label>
                                        </div>
                                        <input type="number" name="career" id="career" class="form-control"
                                               placeholder="경력(년)" required=""
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                    </div>
                                </div>


                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="jobId">직무</label><label class="text-danger"> *필수</label>
                                    </div>
                                    <div th:each="job, jobStat : ${jobs}" style="display: inline-block;">
                                        <input class="form-check-input" type="radio" id="job" name="jobIdSet"
                                               th:value="${job.id}" required/>
                                        <label class="form-check-label" th:text="${job.name}"></label>
                                    </div>
                                </div>


                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="stackId">요구스택</label><label class="text-danger"> *하나 이상 필수</label>
                                    </div>
                                    <div th:each="stack, stackStat : ${stacks}" style="display: inline-block;">
                                        <input class="form-check-input" type="checkbox" id="stack" name="stackIdSet"
                                               th:value="${stack.id}"/>
                                        <label class="form-check-label" th:text="${stack.name}"></label>
                                    </div>

                                </div>


                                <div class="col-8 mt-4">
                                    <h4 class="mb-2">회사 정보</h4><label class="text-warning">*회사 정보 수정 필요 시 기업페이지에서 해주세요</label>
                                    <!--
                                     회사명 : name
                                     대표자 : ceoName
                                     재직인원 : employeeNum
                                     근무주소(디폴트 회사 주소) : address
                                     사진 : photo
                                     -->
                                    <div class="row">
                                        <div class="col-4 mt-2">
                                            <div class="mb-1">
                                                <label for="name">회사명</label>
                                            </div>
                                            <input type="text" name="name" id="name" th:value="${info.name}"
                                                   class="form-control" placeholder="회사명" disabled/>
                                        </div>
                                        <div class="col-4 mt-2">
                                            <div class="mb-1">
                                                <label for="ceoName">대표자명</label>
                                            </div>
                                            <input type="text" name="ceoName" id="ceoName" th:value="${info.ceoName}"
                                                   class="form-control" placeholder="대표자명" disabled/>
                                        </div>
                                        <div class="col-4 mt-2">
                                            <div class="mb-1">
                                                <label for="employeeNum">재직인원</label>
                                            </div>
                                            <input type="number" name="employeeNum" id="employeeNum"
                                                   th:value="${info.employeeNum}"
                                                   class="form-control" placeholder="재직인원" disabled
                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                        </div>

                                        <div class="col-8 mt-2">
                                            <div class="mb-1">
                                                <label for="photo">기업사진</label>
                                            </div>
                                            <input type="text" name="photo" id="photo" th:value="${info.photo}"
                                                   class="form-control" placeholder="기업사진" disabled/>
                                        </div>
                                    </div>

                                </div>

                                <h5 class="mb-4 mt-4">소개</h5>
                                <!--
                                    기업소개(기업테이블) : introduction
                                    주요업무 : mainTask
                                    근무조건 : workCondition
                                    자격요건 : qualification
                                    개발 툴 : tool
                                    복지 및 혜택 : benefit
                                    우대 기술사항 : special_skill
                                    채용절차 : process
                                    유의사항 : notice
                                    근무주소 : workAddress
                                    테스트링크 : questionGit
                                -->
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="introduction">기업소개</label>
                                    </div>
                                    <textarea class="form-control" rows="3" id="introduction" name="introduction"
                                              th:value="${info.introduction}" th:text="${info.introduction}"
                                              readonly></textarea>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="mainTask">주요업무</label><label class="text-danger"> *필수</label>
                                    </div>
                                    <textarea class="form-control" rows="3" id="mainTask" name="mainTask"
                                              required></textarea>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="workCondition">근무조건</label><label class="text-danger"> *필수</label>
                                    </div>
                                    <textarea class="form-control" rows="3" id="workCondition"
                                              name="workCondition" required></textarea>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="qualification">자격요건</label>
                                    </div>
                                    <textarea class="form-control" rows="3" id="qualification"
                                              name="qualification"></textarea>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="tool">개발 툴</label><label class="text-danger"> *필수</label>
                                        <input type="text" name="tool" id="tool"
                                               class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="benefit">복지 및 혜택</label>
                                    </div>
                                    <textarea class="form-control" rows="3" id="benefit" name="benefit"></textarea>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="special_skill">우대 기술사항</label>
                                    </div>
                                    <textarea class="form-control" rows="3" id="special_skill"
                                              name="specialSkill"></textarea>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="process">채용절차</label><label class="text-danger"> *필수</label>
                                    </div>
                                    <textarea class="form-control" rows="3" id="process" name="process"
                                              required></textarea>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="notice">유의사항</label>
                                    </div>
                                    <textarea class="form-control" rows="3" id="notice" name="notice"></textarea>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="address">근무주소(세부주소 포함)</label><label class="text-danger">
                                        *필수</label>
                                    </div>
                                    <input type="text" name="workAddress" id="address"
                                           class="form-control mb-2" placeholder="근무주소" th:value="${info.address}"
                                           required/>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="form-floating">
                                        <button type="button" class="custom-btn" id="addressInputBtn">주소변경</button>
                                    </div>
                                </div>

                                <h5 class="mb-4 mt-4">MZ 질문</h5>

                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="testStartDate">테스트 시작일</label><label class="text-danger">
                                        *필수</label>
                                    </div>
                                    <input type="datetime-local" name="testStartDate" id="testStartDate"
                                           class="form-control" placeholder="test_start" required=""/>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="testEndDate">테스트 종료일</label><label class="text-danger"> *필수</label>
                                    </div>
                                    <input type="datetime-local" name="testEndDate" id="testEndDate"
                                           class="form-control" placeholder="test_end" required=""/>
                                </div>

                                <!-- param 값 question 으로 동일하니 주의 ! -->
                                <div class="col-8 mt-2">
                                    <div class="mb-1">
                                        <label for="questionGit">테스트 링크</label><label class="text-danger"> *필수</label>
                                    </div>
                                    <input type="email" name="questionList" id="questionGit"
                                           class="form-control" placeholder="git 주소를 업로드 해주세요." required=""/>
                                </div>


                                <!-- Company_FAQ 의 질문(question) 컬럼명이 겹침 주의 ! -->
                                <h5 class="mb-4 mt-4">자주하는 질문</h5><label class="text-warning">*FAQ 수정 필요 시 상단 faq바를 이용해주세요.</label>
                                <div class="accordion" th:each="faq, faqStat : ${info.faqList}" id="accordionExample">
                                    <div class="accordion-item mb-3">
                                        <h2 class="accordion-header" th:id="'heading' + ${faqStat.index}">
                                            <button class="accordion-button collapsed rounded" type="button"
                                                    data-bs-toggle="collapse"
                                                    th:data-bs-target="'#collapse' + ${faqStat.index}"
                                                    aria-expanded="false"
                                                    th:aria-controls="'collapse' + ${faqStat.index}">
                                                <strong th:text="${faq.question}"></strong>
                                            </button>
                                        </h2>
                                        <div th:id="'collapse' + ${faqStat.index}" class="accordion-collapse collapse"
                                             th:aria-labelledby="'heading' + ${faqStat.index}">
                                            <div class="accordion-body">
                                                <strong th:text="${faq.answer}"></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 pt-4 m-auto">
                                    <input type="hidden" name="postType" value="MZ"/>
                                    <button type="submit" class="form-control">등록하기</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    </main>
</div>

</html>