<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 모든 자동 크기 조절 textarea에 대해 초기 높이 조정
            document.querySelectorAll('textarea.autoresize').forEach(function (textarea) {
                adjustTextareaHeight(textarea);
            });
        });

        function adjustTextareaHeight(textarea) {
            textarea.style.height = 'auto'; // 높이를 자동으로 재설정
            textarea.style.height = textarea.scrollHeight + 'px'; // 스크롤 높이에 맞게 높이 설정
        }

        function enableEditing() {

            $('#submitEdit').css('display', 'block');
            $('#addressInputBtn').css('display', 'block');
            $('#title').prop('readonly', false);
            $('#endDate').prop('readonly', false);
            $('#career').prop('readonly', false);
            $('#mainTask').prop('readonly', false);
            $('#workCondition').prop('readonly', false);
            $('#qualification').prop('readonly', false);
            $('#tool').prop('readonly', false);
            $('#benefit').prop('readonly', false);
            $('#specialSkill').prop('readonly', false);
            $('#process').prop('readonly', false);
            $('#notice').prop('readonly', false);
            $('#address').prop('readonly', false);
            $('#addQuestion').prop('disabled', false);
            $('#testEndDate').prop('disabled', false);
            $('#testStartDate').prop('disabled', false);
            $('#questionGit').prop('disabled', false);
            $('[id^="remove"]').css('display', 'block');
            $('.editStacks').css('display', 'inline-block');
            $('.editJobs').css('display', 'inline-block');
            $('#jobs').each(function () {
                $(this).css('display', 'none');
            });
            $('#stacks').css('display', 'none');
            $('#closedBtn').css('display', 'none');
            $('#removeBtn').css('display', 'none');
            $('#editBtn').css('display', 'none');
            $('#goBackListBtn').css('display','none');
            $('#cancelBtn').css('display', 'block');

            // textarea의 readonly 해제 및 스크롤 활성화
            var textareas = ['mainTask','workCondition','qualification','benefit','process','notice'];
            textareas.forEach(function(id) {
                var textarea = document.getElementById(id);
                if(textarea) {
                    textarea.readOnly = false; // readonly 해제
                    textarea.style.overflowY = 'auto'; // 스크롤 활성화
                    adjustTextareaHeight(textarea); // 높이 조절
                }
            });
        }

        function cancelEditing() {
            var postId = [[${postId}]];
            window.location.href = '/v1/company/post/detail?id=' + postId + '&postType=MZ';
        }

        function goBackList(){
            window.location.href = '/v1/company/post/list/1';
        }

        /* 주소 변경하기 */
        /* 주소 API */
        window.onload = function () {
            document.getElementById("addressInputBtn").addEventListener("click", function () { //주소입력칸을 클릭하면
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("address").value = extraAddr;

                        } else {
                            document.getElementById("address").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('address').value = data.zonecode;
                        document.getElementById("address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("address").focus();
                    }
                }).open();
            });
        }

        function confirmAndDelete() {
            var postId = [[${postId}]];

            var confirmResult = confirm("삭제하시겠습니까?");

            if (confirmResult) {
                // 사용자가 확인을 선택한 경우
                window.location.href = '/v1/company/post/delete/' + postId;
            } else {
                // 사용자가 취소를 선택한 경우
                // 아무 동작을 하지 않거나 필요한 작업 수행
            }
        }

        function confirmAndClose() {
            var postId = [[${postId}]];
            var postType = 'MZ';
            var confirmResult = confirm("마감하시겠습니까?");

            if (confirmResult) {
                // 사용자가 확인을 선택한 경우
                window.location.href = '/v1/company/post/close/' + postId + '/' + postType;
            } else {
                // 사용자가 취소를 선택한 경우
                // 아무 동작을 하지 않거나 필요한 작업 수행
            }
        }

        function validateForm() {
            // 체크박스 중에서 최소한 하나는 체크되어야 함
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var isChecked = Array.from(checkboxes).some(function (checkbox) {
                return checkbox.checked;
            });

            if (!isChecked) {
                alert('스택 최소 하나 이상은 체크해주세요.');
                return false; // 폼 제출을 막음
            }

            var requiredInputs = document.querySelectorAll('[required]');

            for (var i = 0; i < requiredInputs.length; i++) {
                var input = requiredInputs[i];

                if (!input.value.trim()) {
                    alert(input.id + ' 입력 필드를 작성해주세요.');
                    return false; // 폼 제출을 막음
                }
            }

            var eventDateTimeInput = document.getElementById('endDate');
            var testStartDateInput = document.getElementById('testStartDate');
            var testEndDateInput = document.getElementById('testEndDate');
            var enteredDateTime = new Date(eventDateTimeInput.value);

            var testStartDate = new Date(testStartDateInput.value);
            var testEndDate = new Date(testEndDateInput.value);
            var currentDateTime = new Date();

            if (enteredDateTime < currentDateTime) {
                alert('마감일은 현재 시간 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            if (testStartDate < currentDateTime) {
                alert('테스트 시작일은 현재 시간 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            if (testEndDate < currentDateTime) {
                alert('테스트 마감일은 현재 시간 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            if (testEndDate < testStartDate) {
                alert('테스트 마감일은 테스트 시작일 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            if (testStartDate < enteredDateTime) {
                alert('테스트 시작일은 마감일 이후여야 합니다.');
                return false; // 폼 제출을 막음
            }

            var title = document.getElementById('title').value;
            var mainTask = document.getElementById('mainTask').value;
            var workCondition = document.getElementById('workCondition').value;
            var qualification = document.getElementById('qualification').value;
            var tool = document.getElementById('tool').value;
            var benefit = document.getElementById('benefit').value;
            var special_skill = document.getElementById('special_skill').value;
            var process = document.getElementById('process').value;
            var notice = document.getElementById('notice').value;
            var address = document.getElementById('address').value;
            let questionGit = document.getElementById('questionGit').value;

            if (title.includes('<') || title.includes('>')) {
                alert('제목에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (mainTask.includes('<') || mainTask.includes('>')) {
                alert('주요업무에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (workCondition.includes('<') || workCondition.includes('>')) {
                alert('근무조건에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (qualification.includes('<') || qualification.includes('>')) {
                alert('자격요건에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (tool.includes('<') || tool.includes('>')) {
                alert('개발툴에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (benefit.includes('<') || benefit.includes('>')) {
                alert('복지 및 혜택에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (special_skill.includes('<') || special_skill.includes('>')) {
                alert('우대 기술사항에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (process.includes('<') || process.includes('>')) {
                alert('채용절차에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (notice.includes('<') || notice.includes('>')) {
                alert('유의사항에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (address.includes('<') || address.includes('>')) {
                alert('근무주소에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            if (questionGit.includes('<') || questionGit.includes('>')) {
                alert('깃주소에 >, < 특수기호는 입력할 수 없습니다.');
                return false;
            }

            // 폼 제출을 허용
            return true;
        }

    </script>
    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="section-title-wrap col-8 mb-3 mx-auto">
                    <h4 class="section-title">MZ공고 상세조회</h4>
                </div>
                <div class="row justify-content-center col-md-9 col-12 mb-5 mx-auto">
                    <div class="card bg-outline-light text-dark shadow-lg col-md-12 col-12 mt-1 mb-5">
                        <form th:action="@{/v1/company/post/update}" method="post" class="row col-md-11 col-12 mx-auto" role="form">
                            <div class="card-body align-self-center mx-auto">

                                <div class="col-12 mx-auto my-3">
                                    <h6>공고 제목 <small class="text-danger" style="font-size: small"> *필수</small> </h6>
                                    <input type="text" name="title" id="title"
                                           class="form-control" th:value="${detail.title}" readonly required />
                                </div>

                                <div class="card mt-3 col-12 mx-auto">
                                    <hr>
                                    <div class="mb-1">
                                        <h6>스택<small><span class="text-danger" style="font-size: small"> *한 개이상 필수 입니다.</span></small></h6>
                                    </div>
                                    <div class="custom-card-border row my-1 py-2 px-1"
                                         data-bs-toggle="tooltip" data-bs-html="true"
                                         title="우리 회사에서 사용하는 기술스택을 선택해 적절한 인재를 찾으세요.">
                                        <div class="row mx-auto">
                                            <div th:each="stack : ${totalStacks}" class="editStacks form-check col-md-3 col-6" style="display: none;">
                                                <input class="form-check-input" type="checkbox" th:id="'stack'+${stack.id}"
                                                       name="stackIdSet" th:value="${stack.id}"
                                                       th:checked="${stacks != null and stacks.contains(stack)}"/>
                                                <label class="form-check-label" th:text="${stack.name}"></label>
                                            </div>
                                            <div th:if="${stacks != null}">
                                                <div th:each="stack : ${stacks}" id="stacks" style="display: inline-block;">
                                                    <label class="form-check-label bi-view-stacked" th:text="'  '+${stack.name}"></label>
                                                    <br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-12 mx-auto my-4">
                                    <hr class="mb-1">
                                    <div class="col-4 mt-2">
                                        <h6><small>경력<span class="text-danger" style="font-size: small"> *필수</span></small></h6>
                                        <input type="number" name="career" id="career" class="form-control"
                                               placeholder="경력(년)"  th:value="${detail.career}" readonly required=""
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                    </div>
                                    <div class="col-8 mt-2">
                                        <h6><small>마감일<span class="text-danger" style="font-size: small"> *필수(분(minute)은 등록되지 않습니다. 예)12:06:12->12:00:00)</span></small></h6>
                                        <input type="datetime-local" name="endDate" id="endDate"
                                               class="form-control" placeholder="마감일" th:value="${detail.endDate}"
                                               readonly required=""/>
                                    </div>
                                </div>


                                <div class="card mt-3 col-12 mx-auto">
                                    <hr>
                                    <div class="mb-1">
                                        <h6>직무<small><span class="text-danger" style="font-size: small"> *필수</span></small></h6>
                                    </div>
                                    <div class="custom-card-border row my-1 py-2 px-1 ">
                                        <div class="row mx-auto">
                                            <div th:each="job : ${totalJobs}" class="editJobs form-check col-md-4 col-6" style="display: none;">
                                                <input class="form-check-input" type="radio" th:id="'job'+${job.id}"
                                                       name="jobIdSet"
                                                       th:value="${job.id}" th:checked="${jobs != null and jobs.contains(job)}" required />
                                                <label class="form-check-label" th:text="${job.name}"></label>
                                            </div>
                                            <div th:if="${jobs != null}">
                                                <div th:each="job : ${jobs}" id="jobs" style="display: inline-block;" >
                                                    <label class="form-check-label bi-person-workspace" th:text="'  '+${job.name}"></label>
                                                    <br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <h6>개발 툴<small><span class="text-danger" style="font-size: small"> * 필수</span></small></h6>
                                    <input type="text" name="tool" id="tool" class="form-control"
                                           th:value="${detail.tool}" readonly required>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <h6>주요업무 <small class="text-danger" style="font-size: small"> *필수</small> </h6>
                                    <textarea class="form-control autoresize" rows="5" id="mainTask" name="mainTask"
                                              th:text="${detail.mainTask}" readonly required></textarea>
                                </div>

                                <div class="col-12 mx-auto my-3">
                                    <hr class="my-2">
                                    <h6>근무조건 <small class="text-danger" style="font-size: small"> *필수</small> </h6>
                                    <textarea class="form-control autoresize" rows="5" id="workCondition"
                                              name="workCondition"  th:text="${detail.workCondition}"
                                              readonly required></textarea>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <h6>자격요건</h6>
                                    <textarea class="form-control autoresize" rows="5" id="qualification" name="qualification"
                                              th:text="${detail.qualification}" readonly></textarea>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <h6>우대 기술사항</h6>
                                    <textarea class="form-control autoresize" rows="5" id="special_skill" name="specialSkill"
                                              th:text="${detail.specialSkill}" readonly></textarea>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <h6>복지 및 혜택</h6>
                                    <textarea class="form-control autoresize" rows="5" id="benefit" name="benefit"
                                              th:text="${detail.benefit}" readonly></textarea>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <h6>채용절차</h6>
                                    <textarea class="form-control autoresize mb-4" rows="5" id="process" name="process"
                                              th:text="${detail.process}" readonly required></textarea>
                                    <hr>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <h6>회사정보<small class="text-secondary" style="font-size: small"> (정보수정 필요 시 기업 페이지에서 변경가능)</small></h6>
                                    <div class="custom-block-icon-wrap my-2">
                                        <img class="mx-auto img-fluid rounded-1 d-block" th:src="${info.photo}" name="photo" alt="company-img"/>
                                    </div>
                                    <h6 class="my-2"><small>회사명</small></h6>
                                    <input type="text" readonly name="name" id="name" th:value="${info.name}"
                                           class="form-control-plaintext" placeholder="회사명" disabled/>

                                    <h6 class="my-2"><small>대표자</small></h6>
                                    <input type="text" readonly name="ceoName" id="ceoName" th:value="${info.ceoName}"
                                           class="form-control-plaintext" placeholder="대표자명" disabled/>

                                    <h6 class="my-2"><small>재직인원</small></h6>
                                    <input type="number" readonly name="employeeNum" id="employeeNum"
                                           th:value="${info.employeeNum}"
                                           class="form-control-plaintext" placeholder="재직인원" disabled
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>

                                    <h6 class="my-4">기업소개</h6>
                                    <textarea class="form-control autoresize" rows="5" id="introduction" name="introduction"
                                              th:value="${info.introduction}" th:text="${info.introduction}"
                                              readonly></textarea>

                                    <h6 class="my-4">근무지 주소
                                        <small class="text-secondary" style="font-size: small">(세부주소 포함)</small>
                                        <small class="text-danger" style="font-size: small">  *필수</small>
                                    </h6>
                                    <div class="input-group mb-4">
                                        <input type="text" name="workAddress" id="address"
                                               class="form-control" placeholder="근무주소" th:value="${info.address}" readonly required/>
                                        <button type="button" class="custom-border-option-btn" id="addressInputBtn" style="display: none">주소변경</button>
                                    </div>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <hr>
                                    <h6>유의사항</h6>
                                    <textarea class="form-control autoresize mb-4" rows="5" id="notice" name="notice"
                                              th:text="${detail.notice}" readonly></textarea>
                                    <hr>
                                </div>

                                <div class="col-12 mx-auto my-4">
                                    <h6>MZ 질문</h6>
                                    <h6 class="my-3"><small>테스트 시작일</small>
                                        <span class="text-danger" style="font-size: small">
                                            *필수(분(minute)은 등록되지 않습니다. 예)12:06->12:00) / 시작일은 공고 마감일 이후 시점 등록가능
                                        </span>
                                    </h6>
                                    <input type="datetime-local" name="testStartDate" id="testStartDate"
                                           class="form-control mb-2" placeholder="test_start"
                                           th:value="${detail.testStartDate}" disabled required=""/>
                                    <h6 class="my-3"><small>테스트 종료일</small>
                                        <span class="text-danger" style="font-size: small">
                                            *필수(분(minute)은 등록되지 않습니다. 예)12:06->12:00)
                                        </span>
                                    </h6>
                                    <input type="datetime-local" name="testEndDate" id="testEndDate"
                                           class="form-control mb-2" placeholder="test_end"
                                           th:value="${detail.testEndDate}"
                                           disabled required=""/>
                                    <h6 class="my-3"><small>테스트 링크</small>
                                        <span class="text-danger" style="font-size: small">
                                            *필수
                                        </span>
                                    </h6>
                                    <input type="hidden" name="idList" th:value="${detail.questionList[0].id}"/>
                                    <input type="url" name="questionList" id="questionGit"
                                           class="form-control mb-2" placeholder="git 주소를 업로드 해주세요."
                                           th:value="${detail.questionList[0].question}" disabledrequired=""/>
                                </div>




                                <!-- Company_FAQ 의 질문(question) 컬럼명이 겹침 주의 ! -->
                                <div class="col-12 mx-auto my-4">
                                    <h6>자주하는 질문
                                        <small class="text-secondary" style="font-size: small">
                                            FAQ 수정 필요 시 상단 faq바를 이용해주세요.
                                        </small>
                                    </h6>
                                    <div class="accordion" th:each="faq, faqStat : ${info.faqList}" id="accordionExample">
                                        <div class="accordion-item mb-3">
                                            <h2 class="accordion-header" th:id="'heading' + ${faqStat.index}">
                                                <button class="accordion-button collapsed rounded" type="button"
                                                        data-bs-toggle="collapse"
                                                        th:data-bs-target="'#collapse' + ${faqStat.index}"
                                                        aria-expanded="false"
                                                        th:aria-controls="'collapse' + ${faqStat.index}">
                                                    <strong th:text="${faq.question}"></strong>
                                                </button>
                                            </h2>
                                            <div th:id="'collapse' + ${faqStat.index}" class="accordion-collapse collapse"
                                                 th:aria-labelledby="'heading' + ${faqStat.index}">
                                                <div class="accordion-body">
                                                    <strong th:text="${faq.answer}"></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row post-form">
                                    <div class="col-3 pt-4 m-auto">
                                        <button type="button" id="goBackListBtn" class="form-control" onclick="goBackList()">목록</button>
                                    </div>
                                    <div class="col-3 pt-4 m-auto">
                                        <button type="button" th:unless="${detail.closed}" class="form-control"
                                                id="editBtn" onclick="enableEditing()">수정하기
                                        </button>
                                    </div>
                                    <div class="col-3 pt-4 m-auto">
                                        <input type="hidden" name="postType" th:value="${detail.postType}"/>
                                        <input type="hidden" name="postId" th:value="${postId}"/>
                                        <button type="button" id="removeBtn" class="form-control"
                                                onclick="confirmAndDelete()">삭제하기
                                        </button>
                                    </div>
                                    <div class="col-3 pt-4 m-auto">
                                        <button type="button" id="closedBtn" th:unless="${detail.closed}"
                                                class="form-control" onclick="confirmAndClose()">마감하기
                                        </button>
                                    </div>
                                </div>

                                <div class="row post-form">
                                    <div class="col-3 pt-4 m-auto">
                                        <button type="submit" class="form-control" id="submitEdit"
                                                style="display:none;">수정완료
                                        </button>
                                    </div>
                                    <div class="col-3 pt-4 m-auto">
                                        <button type="button" class="form-control rounded-pill" id="cancelBtn"
                                                onclick="cancelEditing()" style="display:none;">취소
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    </main>
</div>

</html>