<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">공고 목록</h4>
                        </div>
                    </div>


                    <div class="row col-lg-10 col-12">
                        <div class="col-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary">최신순</button>
                                <button type="button" class="btn btn-outline-secondary">진행중</button>
                                <button type="button" class="btn btn-outline-secondary">마감임박</button>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group mb-3 ">
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn btn-outline-secondary" type="submit">Go</button>
                            </div>
                        </div>

                        <div class="col-4 d-flex justify-content-end mb-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-success" onclick="location.href='/v1/company/post/form'">일반공고 생성</button>
                                <button type="button" class="btn btn-outline-primary" onclick="location.href='/v1/company/post/mz/form'">MZ공고 생성</button>
                            </div>
                        </div>
                    </div>

                    <!-- 목록 페이지 시작 -->

                    <!-- 목록 1칸 -->
                    <div class="col-lg-10 col-12 mb-4 mb-lg-2" th:each="post, postStat : ${postList}">
                        <div class="custom-block d-flex">
                            <div class="custom-block-info">
                                <h5 class="mb-2">
                                    <a th:href="@{/v1/company/post/detail(id=${post.id})}" th:text="'['+${post.postType}+'] '+${post.title}"></a>
                                </h5>

                                <div class="custom-block-bottom d-flex  mt-3">
                                    <div class="col-auto d-flex m-2"><span>게시날짜:<span th:text="${post.createdAt}"></span></span></div>
                                    <div class="col-auto d-flex m-2"><span>마감일:<span th:text="${post.endDate}"></span></span></div>
                                    <div class="col-auto d-flex m-2"><span>지원현황: <span th:text="${post.applicant}"></span>명</span></div>
                                </div>
                            </div>

                            <!-- 버튼 부 -->
                            <div class="d-flex flex-column ms-auto">
                                <button type="button" class="btn-light">채용관리</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mx-auto">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center mt-5">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li class="page-item active"><a class="page-link" href="#">1</a></li>

                                <li class="page-item"><a class="page-link" href="#">2</a></li>

                                <li class="page-item"><a class="page-link" href="#">3</a></li>

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </section>



    </main>
</div>

</html>