<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">

    <script>
        // 뒤로가기
        function goBack() {
            window.history.back();
        }
    </script>
    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-3">
                            <h4 class="section-title">정보수정</h4>
                        </div>

                        <div class="row justify-content-center">
                            <div class="row ">

                                <div class="col-lg-9 col-12 mx-auto">
                                    <div class="custom-block-info post-form">

                                        <div class="col-10 my-8 mx-auto">
                                        <h3 class="mb-5 ">정보확인</h3>
                                        </div>
                                        <form action="/v1/user/resume" method="post" role="form" >

                                        <div class="col-lg-10 col-12 my-2 mx-auto">
                                            <div class="form-floating">
                                                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                                       class="form-control" placeholder="Email address" required>
                                                <label for="email">계정 이메일</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-10 col-12 my-2 mx-auto">
                                            <div class="form-floating">
                                                <input type="password" name="password" id="password" class="form-control"
                                                       placeholder="password" required>
                                                <label for="password">비밀번호</label>
                                            </div>
                                        </div>

                                        <div class="row col-12 my-5">
                                            <div class="col-4 ">
                                                <button type="button" class="form-control" id="back" onclick="goBack()">돌아가기</button>
                                            </div>
                                            <div class="col-4">

                                            </div>
                                            <div class="col-4">
                                                <button type="submit" class="form-control" id="submitBtn">수정완료</button>
                                            </div>
                                        </div>

                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
