<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <header class="header" th:fragment="commonHeader">
   <nav class="navbar navbar-expand-lg">
    <div class="container">
     <a class="navbar-brand me-lg-5 me-0" href="/v1">
      <img src="/images/pod-talk-logo.png" class="logo-image img-fluid" alt="templatemo pod talk">
     </a>

     <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">
      <div class="input-group input-group-lg">
       <input name="search" type="search" class="form-control" id="search" placeholder="검색어를 입력해주세요."
              aria-label="Search">

       <button type="submit" class="form-control" id="submit">
           <i class="bi-search"></i>
       </button>
      </div>
     </form>

     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
             aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-auto">
       <li class="nav-item">
        <a class="nav-link" href="index.html">인재검색</a>
       </li>

       <li class="nav-item">
        <a class="nav-link" href="/v1/company/post/list">공고관리</a>
       </li>

       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">Q&A</a>

        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
         <li><a class="dropdown-item" href="#">1대1 질문</a></li>

         <li><a class="dropdown-item" href="/v1/company/faq">FAQ</a></li>
        </ul>
       </li>

       <li class="nav-item">
        <a class="nav-link" href="contact.html">기업페이지</a>
       </li>
      </ul>

      <div class="ms-4">
       <a th:if="${session.id!=null}" href="/v1/company/logout" class="btn custom-btn custom-border-btn smoothscroll">로그아웃</a>
       <a th:if="${session.id==null}" href="/v1/company/login-form" class="btn custom-btn custom-border-btn smoothscroll">로그인/회원가입</a>
      </div>
     </div>
    </div>
   </nav>
  </header>
</html>