<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="configFragment">
        <meta name="description" content="Directing Template">
        <meta name="keywords" content="Directing, unica, creative, html">
        <meta name="viewport" content="width=divice-width, initial-scale=1.0">

        <!-- 공통 CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <link rel="stylesheet" href="/css/bootstrap-icons.css">

        <link rel="stylesheet" href="/css/owl.carousel.min.css">

        <link rel="stylesheet" href="/css/owl.theme.default.min.css">

        <link href="/css/templatemo-pod-talk.css" rel="stylesheet">

        <!-- 공통 폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link
                href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
                rel="stylesheet">

        <!-- Js -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/custom.js"></script>

    </th:block>
</html>