 <!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}" lang="ko">
<div layout:fragment="content">
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];

        if (errorMessage != null) {
            alert(errorMessage);
            // 이후 로직 추가 가능
        }
    </script>
    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>
        <section class="contact-section section-padding pt-0">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">로그인</h4>
                        </div>

                        <form action="/v1/user/login" method="post" class="custom-form contact-form" role="form">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-12 pb-4" th:unless="${postId}">
                                    <input type="radio" name="memberType" value="user" checked> 일반회원
                                    <input type="radio" name="memberType" value="company" onclick="location.href='/v1/company/login-form'"> 기업회원
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="form-floating">
                                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                               class="form-control" placeholder="Email address" required>

                                        <label for="email">계정 이메일</label>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="form-floating">
                                        <input type="password" name="password" id="password" class="form-control"
                                               placeholder="password" required>

                                        <label for="password">비밀번호</label>
                                    </div>
                                </div>
                                <div class="row col-12 d-flex justify-content-between align-items-center mx-auto">
                                    <div class="col-lg-3 col-6 my-2">
                                        <button type="button" class="form-control ms-auto" onclick="location.href='/v1/user/join'">회원가입</button>
                                    </div>
                                    <div class="col-lg-3 col-6 my-2">
                                        <a id="googleLogin" style="cursor: pointer;"><img src="/images/google-login.png" class="my-2" alt="" style="width: 189px"></a>
                                    </div>
                                    <div class="col-lg-3 col-6 my-2">
                                        <button type="submit" class="form-control ms-auto">로그인</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-analytics.js";
        import { getAuth, signInWithPopup, GoogleAuthProvider, signInWithPhoneNumber, RecaptchaVerifier } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";

        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCXluBKXBrihziX_rN1Z-5LX06mEmRJadI",
            authDomain: "job-a-9841f.firebaseapp.com",
            projectId: "job-a-9841f",
            storageBucket: "job-a-9841f.appspot.com",
            messagingSenderId: "915882627362",
            appId: "1:915882627362:web:5a39b8aa8b4719d5f7957b",
            measurementId: "G-JHCHPZ8ZTX"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);

        const provider = new GoogleAuthProvider();

        const auth = getAuth();
        auth.languageCode = 'ko';


        document.getElementById('googleLogin').addEventListener
        ('click', () => {
            signInWithPopup(auth, provider)
                .then((result) => {
                    // This gives you a Google Access Token. You can use it to access the Google API.
                    const credential = GoogleAuthProvider.credentialFromResult(result);
                    const token = credential.accessToken;
                    // The signed-in user info.
                    const user = result.user;
                    // IdP data available using getAdditionalUserInfo(result)

                    const googleDto = {
                        uid: user.uid,
                        email: user.email
                    };
                    // 다른 필요한 사용자 데이터 추가


                    // ...
                    fetch("http://localhost:60000/v1/user/validation?sso=google", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(googleDto),
                    })
                        .then(response => response.text())
                        .then(data => {
                            if (data === 'true') {
                                location.href="/v1/user/loginwith?sso=google&email="+googleDto.email+"&uid="+googleDto.uid;
                            }
                            location.replace("/v1/user/additional-info?sso=google&email="+googleDto.email+"&uid="+googleDto.uid);
                        })
                        .catch(error => {
                            location.href="/error/404";
                        });
                }).catch((error) => {
                // Handle Errors here.
                const errorCode = error.code;
                const errorMessage = error.message;
                // The email of the user's account used.
                const email = error.customData.email;
                // The AuthCredential type that was used.
                const credential = GoogleAuthProvider.credentialFromError(error);
                // ...
                location.href="/error/500";
            });
        })
    </script>

</div>
</html>