<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var addButton = document.getElementById('addButton');
            var qnaContainer = document.getElementById('QNA');
            var maxQnaCount = 5;
            var qnaCount = 1;

            addButton.addEventListener('click', function () {
                if (qnaCount < maxQnaCount) {
                    var newQnaDiv = document.createElement('div');
                    newQnaDiv.className = 'col-12 mt-2';
                    newQnaDiv.innerHTML = `
                        <div class="mb-1">
                            <label for="question">문항</label>
                        </div>
                        <input type="text" name="question" class="form-control" placeholder="문항을 입력해주세요." required="" />
                        <div class="mt-3 mb-1">
                            <label for="answer">내용</label>
                        </div>
                        <textarea class="form-control" rows="3" name="answer" placeholder="내용을 입력해주세요."></textarea>
                    `;
                    qnaContainer.appendChild(newQnaDiv);
                    qnaCount++;
                } else {
                    alert('최대 5개까지만 추가할 수 있습니다.');
                }
            });
        });
    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">자기소개서 등록</h4>
                        </div>

                        <div class="row justify-content-center">
                            <div class="card bg-outline-light bg-transparent text-dark shadow-lg col-12 post-form">
                                <div class="col-12 mt-5"></div>

                                <!-- 자기소개서 생성 폼 시작 -->
                                <div class="card mt-4 mb-4 p-4 col-11 post-form align-self-center">
                                    <form action="/v1/user/cover-letter/create" method="post" role="form" class="row align-self-center col-12">
                                        <div class="col-12 mt-2">
                                            <div class="mb-1">
                                                <label for="title">자기소개서 제목</label>
                                            </div>
                                            <input type="text" name="title" id="title"
                                                   class="form-control" placeholder="자기소개서 제목" required="" />
                                        </div>

                                        <div class="col-12 mt-2">
                                            <h6></h6>
                                        </div>
                                        <div class="col-12 mt-2 ">
                                            <div class="justify-content-end">
                                                <button type="button" class="btn" id="addButton">추가</button>
                                            </div>
                                        </div>

                                        <div class="col-12 mt-3 mb-3" id="QNA">
                                            <div class="mb-1">
                                                <label for="question">문항</label>
                                            </div>
                                            <input type="text" name="question" id="question"
                                                   class="form-control" placeholder="문항을 입력해주세요." required="" />
                                            <div class="mt-3 mb-1">
                                                <label for="answer">내용</label>
                                            </div>
                                            <textarea class="form-control" rows="5" name="answer" id="answer" placeholder="내용을 입력해주세요."></textarea>
                                        </div>

                                        <div class="col-12 mt-2">
                                            <button type="submit" class="form-control" >등록하기</button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
