<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script>
        // 생성
        document.addEventListener("DOMContentLoaded", function () {
            var letterBtn = document.getElementById('cover-letter');

            letterBtn.addEventListener('click', function () {
                window.location.href = '/v1/user/cover-letter/form';
            });
        });

        // 삭제
        function confirmDelete(button) {
            var letterId = button.getAttribute('data-letter-id');
            var confirmResult = confirm("삭제하시겠습니까?");

            if (confirmResult) {
                // 사용자가 확인을 선택한 경우
                window.location.href = '/v1/user/cover-letter/delete/' + letterId;
            } else {
                // 사용자가 취소를 선택한 경우
                // 아무 동작을 하지 않거나 필요한 작업 수행
            }
        }

        function showOnlySelected(selectedIndex) {
            var posts = document.querySelectorAll('[id^="postPage"]');
            posts.forEach(function (post) {
                var index = parseInt(post.id.replace('postPage', ''), 10);
                var page = document.getElementById("page" + index);
                if (index === selectedIndex) {
                    page.classList.add("active");
                    post.style.display = 'block';
                } else {
                    page.classList.remove("active");
                    post.style.display = 'none';
                }
            });
        }
    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">나의 자기소개서</h4>
                        </div>
                    </div>


                    <div class="row col-lg-10 col-12 mb-4">
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary" id="cover-letter">자기소개서 생성</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary">최근 작성일</button>
                                <button type="button" class="btn btn-outline-secondary">오래된 작성일</button>
                            </div>
                        </div>
                    </div>

                    <!-- 목록 페이지 시작 -->
                    <h5 class="col-lg-10 col-12 mt-4 mb-4 mb-lg-2 text-center" th:if="${#lists.size(letterList)==0}">
                        자소서가 없습니다.
                    </h5>
                    <!-- 목록 1칸 -->
                    <div th:each="letterPage, letterPageStat : ${letterList}" th:id="'postPage'+${letterPageStat.index}" class="col-lg-10 col-12 mb-4 mb-lg-2">
                        <div class="custom-block d-flex" th:each="letter, letterStat : ${letterPage}">
                            <div class="custom-block-info">
                                <h5 class="mb-2">
                                    <a th:href="@{'/v1/user/cover-letter/detail/' + ${letter.id}}" th:text="${letter.title}"></a>
                                </h5>

                                <div class="col-auto d-flex m-2">
                                    <span th:text="'작성일 : ' + ${letter.modifiedAt.substring(0, 10)}"></span>
                                </div>
                            </div>

                            <!-- 버튼 부 -->
                            <div class="d-flex flex-column ms-auto">
                                <!-- 추후 th:attr="data-id=${resume.id}" button 내 추가하기 -->
                                <button type="button" class="btn btn-outline-secondary" th:attr="data-letter-id=${letter.id}" onclick="confirmDelete(this)">삭제하기</button>                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mx-auto">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center mt-5">
                                <li class="page-item" th:if="${strNum>=5}">
                                    <a class="page-link" th:href="@{/v1/user/cover-letters/{strNum}(strNum=${strNum}-5)}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <div th:each="letterPage, letterPageStat :${letterList}">
                                    <li class="page-item" th:id="'page'+${letterPageStat.index}"><a class="page-link"
                                                                                                    th:onclick="showOnlySelected([[${letterPageStat.index}]])"
                                                                                                    th:text="${letterPageStat.index+strNum}"></a>
                                    </li>
                                </div>
                                <li class="page-item"
                                    th:if="${#lists.size(letterList)>=5 and #lists.size(letterList[4])==9}">
                                    <a class="page-link" th:href="@{/v1/user/cover-letters/{strNum}(strNum=${strNum}+5)}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </section>



    </main>
</div>

</html>