<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script th:inline="javascript">

    // 수정취소 (상세보기로 돌아가기)
        function cancelEditing(button) {
            var resumeId = button.getAttribute('data-delete-id');
            var confirmResult = confirm("수정 취소 하시겠습니까?")

            if (confirmResult){
                window.location.href = '/v1/user/resume/detail/' + resumeId;
            } else {

            }
        }

        // 뒤로가기
        function goBack() {
            window.history.back();
        }

    function enableEditing(){

        $('#cancelBtn ').css('display', 'block');
        $('#submitBtn').css('display', 'block');

        $('#editBtn').css('display', 'none');
        $('#back').css('display', 'none');
        /*$('.question').removeAttr('readonly').removeClass('form-control-plaintext').addClass('form-control');*/

        var pwdDiv = document.getElementById("pwd");
        var passwordInput = document.getElementById("password");
        var confirmPwdInput = document.getElementById("confirmPwd");

        if (pwdDiv.style.display === "none") {
            // 숨겨진 경우 나타내기
            pwdDiv.style.display = "block";
            passwordInput.style.display = "block";
            confirmPwdInput.style.display = "block";
        } else {
            // 나타난 경우 숨기기
            pwdDiv.style.display = "none";
            passwordInput.style.display = "none";
            confirmPwdInput.style.display = "none";
        }

    }

        function validateSpecialCharacters() {
            var inputValues = [
                document.getElementById('email').value,
                document.getElementById('birth').value,
                document.getElementById('phone').value,
                document.getElementById('address').value,
            ];

            for (var i = 0; i < inputValues.length; i++) {
                if (inputValues[i].includes('<') || inputValues[i].includes('>') || inputValues[i].includes(';')
                    || inputValues[i].includes('/') || inputValues[i].includes('\\')) {
                    // 특수 문자가 포함된 경우 경고 메시지 표시하고 false 반환
                    alert('입력란에 >, <, ;, /, \\, 특수기호는 입력할 수 없습니다.');
                    return false;
                }
            }

            return true;
        }

        function validateForm(){

            // 빈칸 경고
            var careerInput = document.getElementById('email');
            if (careerInput.value.trim() === '') {
                alert('이메일 입력이 필요합니다.');
                event.preventDefault();
                return false;
            }

            var careerInput = document.getElementById('phone');
            if (careerInput.value.trim() === '') {
                alert('전화번호 입력이 필요합니다.');
                event.preventDefault();
                return false;
            }

            var careerInput = document.getElementById('birth');
            if (careerInput.value.trim() === '') {
                alert('생년월일 입력이 필요합니다.');
                event.preventDefault();
                return false;
            }

            var careerInput = document.getElementById('address');
            if (careerInput.value.trim() === '') {
                alert('주소 입력이 필요합니다.');
                event.preventDefault();
                return false;
            }

            var stackCheckboxes = document.querySelectorAll('input[name="stackIdSet"]:checked');
            if (stackCheckboxes.length === 0) {
                alert('보유한 기술 스택을 하나 이상 선택해주세요.');
                return false;
            }


            if (!validateSpecialCharacters()) {
                event.preventDefault();
                return false;
            }

            // 모든 조건이 충족되면 true 반환
            return true;

        }


    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-3">
                            <h4 class="section-title">개인정보</h4>
                        </div>

                        <div class="row justify-content-center">
                            <div class="row ">
                                <div class="col-lg-3 col-12">
                                    <div class="custom-block-icon-wrap">
                                        <div class="custom-block-image-wrap custom-block-image-detail-page">
                                            <img src="/images/niniz.png" class="custom-block-image img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-12 ">
                                    <div class="custom-block-info post-form">

                                        <div class="col-10 mt-4 mx-auto">
                                        <h2 class="mb-2 ">죠르디</h2>
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label>이메일</label>
                                            <input type="email" readonly class="form-control mt-2" id="email" name="email" value="123@email.com">
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label>생년월일</label>
                                            <input type="datetime-local" readonly class="form-control mt-2" id="birth" name="birth" >
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label>전화번호</label>
                                            <input type="tel" readonly class="form-control mt-2" id="phone" name="phone" value="010-1234-1234">
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label>주소</label>
                                            <input type="text" readonly class="form-control-plaintext mt-2" id="address" name="address" value="010-1234-1234">
                                        </div>

                                        <div class="col-10 mt-3 mx-auto">
                                            <label for="stack">보유한 기술 스택</label>
                                            <div class="card mt-2 mb-4 p-4 col-11 post-form align-self-center">
                                                <div class="scrollable-checkboxes" style="max-height: 150px; overflow-y: auto;">
                                                    <!--<div th:each="stack, stackStat : ${stacks}">
                                                        <input class="form-check-input" type="checkbox" id="stack" name="stackIdSet" th:value="${stack.id}" />
                                                        <label class="form-check-label" th:text="${stack.name}"></label>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-10 mt-3 mx-auto" id="pwd" style="display: none">
                                            <label>비밀번호</label>
                                            <input type="password" readonly class="form-control mt-2" id="password" name="password" style="display: none" />
                                            <input type="password" readonly class="form-control mt-2" id="confirmPwd" name="confirmPwd" style="display: none" />
                                        </div>

                                        <div class="row col-12 my-5">
                                            <div class="col-4">
                                                <button type="button" class="form-control" id="back" onclick="goBack()">돌아가기</button>
                                                <button type="button" class="form-control" id="cancelBtn" onclick="cancelEditing(this)" style="display: none">수정취소</button>
                                            </div>
                                            <div class="col-4">

                                            </div>
                                            <div class="col-4">
                                                <button type="button" class="form-control" id="editBtn" onclick="enableEditing()">정보수정</button>
                                                <button type="submit" class="form-control" id="submitBtn" onclick="validateForm()" style="display: none">수정완료</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
