<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script th:inline="javascript">
        // 경력사항에서 기간 계산
        function calculateAndSetCareer() {
            let totalMonths = 0;

            // 각 input-group의 정보를 담는 배열
            let detailStringArray = [];

            // 모든 입력 필드의 날짜 합산 계산
            document.querySelectorAll('.career').forEach((item) => {
                const startElement = item.querySelector('input[name$="_start_date"]');
                const endElement = item.querySelector('input[name$="_end_date"]');
                const careerTitleElement = item.querySelector('input[name$="_title"]');

                if (!startElement || !endElement || !careerTitleElement) {
                    return;
                }

                const startDate = new Date(startElement.value);
                const endDate = new Date(endElement.value);

                // 두 날짜가 같은 경우 0년 0개월로 처리
                if (startDate.getTime() === endDate.getTime()) {
                    return;
                }

                // 각 입력 필드의 년수 및 개월 수 계산
                const years = endDate.getFullYear() - startDate.getFullYear();
                const months = endDate.getMonth() - startDate.getMonth();

                // 전체 년수 및 개월 수에 더함
                totalMonths += years * 12 + months;

                // start_date, end_date, career_title을 문자열로 합쳐 배열에 추가
                const detailString = startElement.value + ' ' + endElement.value + ' ' + careerTitleElement.value;
                detailStringArray.push(detailString);

                // 현재 input-group의 detailString 값을 해당 input-group의 hidden field에 저장
                const hiddenField = item.querySelector('input[name$="DetailList"]');
                if (hiddenField) {
                    hiddenField.value = detailString;
                }
            });

            // 전체 년수 및 개월 수를 년(Y)과 개월(M)로 변환하여 표시
            const totalYears = Math.floor(totalMonths / 12);
            const remainingMonths = totalMonths % 12;

            // 계산된 값을 입력 필드에 설정
            document.getElementById("careerInput").value = totalYears + "년 " + remainingMonths + "개월";
            document.getElementById("careerCal").value = totalMonths;
        }


        // 정수값을 년과 개월로 변환하는 함수
        function convertYearsMonths(value) {
            var years = Math.floor(value / 12);
            var months = value % 12;

            var result = "";
            if (years > 0) {
                result += years + "년";
            }
            if (months > 0) {
                result += " " + months + "개월";
            }

            return result.trim();
        }

        // 처음 가져온 경력(career) 값을 계산
        document.addEventListener("DOMContentLoaded", function () {
            // 이 부분에서 resume.career 값을 가져와서 변환하여 출력
            var careerValue = 24; // 예시로 24라는 값을 가져왔다고 가정
            var convertedValue = convertYearsMonths(careerValue);

            // 변환된 값을 careerInput 엘리먼트에 설정
            document.getElementById('careerInput').value = '총 경력 : ' + convertedValue;
        });

        // 경력사항(careerDetailList) 문자열을 parsing
        document.addEventListener("DOMContentLoaded", function () {
        /*<![CDATA[*/
        var careerDetailList = /*[[${resume.careerDetailList}]]*/ '';

        // 문자열 배열을 날짜와 제목으로 분할
        var details = careerDetailList.map(detail => detail.split(' '));

        // 각 부분에 대한 처리
            details.forEach(function (dateTitle) {
                var startDate = dateTitle[0];
                var endDate = dateTitle[1];
                var title = dateTitle.slice(2).join(' '); // index 1 이 아니라 index 2부터 조인

                // 동적으로 HTML 생성 또는 추가 작업 수행
                var html = '<div class="input-group m-1 career">';
                html += '<input type="date" readonly class="form-control" name="career_start_date" value="' + startDate + '" />';
                html += '<input type="date" readonly class="form-control" name="career_end_date" value="' + endDate + '" />';
                html += '<input type="text" readonly class="form-control" name="career_title" value="' + title + '" />';
                html += '<input type="hidden" name="careerDetailList" value="' + dateTitle.join(' ') + '" />';
                html += '<button class="btn visually-hidden" type="button" value="삭제" onclick="removeItem(this)">-</button>';
                html += '</div>';

                document.getElementById('field1').insertAdjacentHTML('beforeend', html);
            });

        });

        // 수정취소 (상세보기로 돌아가기)
        function cancelEditing(){
            var resumeId = [[${resume.id}]];

            window.location.href = '/v1/user/resume/detail/' + resumeId;
            /*]]>*/
        }

        // 삭제기능
        function confirmDelete(button) {
            var resumeId = button.getAttribute('data-resume-id');
            var confirmResult = confirm("삭제하시겠습니까?");

            if (confirmResult) {
                // 사용자가 확인을 선택한 경우
                window.location.href = '/v1/user/resume/delete/' + resumeId;
            } else {
                // 사용자가 취소를 선택한 경우
                // 아무 동작을 하지 않거나 필요한 작업 수행
            }
        }

        function enableEditing(){
            $('.btn').removeClass('visually-hidden');
            $('#submitEdit').css('display', 'block');
            $('#cancelBtn').css('display', 'block');
            $('#editBtn').css('display', 'none');
            $('.editJobs input[type="checkbox"]').prop('disabled', false);
            $('.editStacks input[type="checkbox"]').prop('disabled', false);
            $('#title').removeAttr('readonly');
            $('#education').removeAttr('readonly');
            $('#gitLink').removeAttr('readonly');
            $('#career_start_date').removeAttr('readonly');
            $('#career_end_date').removeAttr('readonly');
            $('#career_title').removeAttr('readonly');
            $('.editStacks').css('display', 'inline-block');
            $('.editJobs').css('display', 'inline-block');
            $('#jobs').each(function () {
                $(this).css('display', 'none');
            });
            $('#stacks').each(function () {
                $(this).css('display', 'none');
            });
            $('.bi-person-workspace').prev('input[type="checkbox"]').prop('checked', true);
            $('.pre_set input[type="date"], .pre_set input[type="text"]').removeAttr('readonly');
            $('#item2 input[type="text"]').removeAttr('readonly');
            $('#item3 input[type="text"]').removeAttr('readonly');
            $('input[name="career_title"]').removeAttr('readonly');

        }


    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">이력서</h4>
                        </div>

                        <div class="row justify-content-center">
                            <div class="card bg-outline-light bg-transparent text-dark shadow-lg col-12 post-form">

                                <!-- 유저의 기본 정보 -->
                                <div class="card mt-4 p-4 col-11 post-form align-self-center">
                                    <div class="row">
                                        <div class="col-lg-4 col-12 ps-5 pe-5 align-self-auto">
                                            <img src="/images/niniz.png" class="rounded float-start" alt="templatemo pod talk">
                                        </div>
                                        <!--<div class="col-lg-2 col-12 align-self-auto"></div>-->
                                        <div class="col-lg-6 col-12 ps-5 pe-5 align-self-center">

                                            <div class="mb-3 row">
                                                <label for="name" class="col-sm-3 col-form-label">이름</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control-plaintext text-center"
                                                           style="font-size: 18px;"
                                                           id="name" th:value="${info.name}">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="email" class="col-sm-3 col-form-label">이메일</label>
                                                <div class="col-sm-9">
                                                    <input type="email" readonly class="form-control-plaintext text-center"
                                                           style="font-size: 18px;"
                                                           id="email" th:value="${info.email}">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="birth" class="col-sm-3 col-form-label">생년월일</label>
                                                <div class="col-sm-9">
                                                    <input type="date" readonly class="form-control-plaintext text-center"
                                                           style="font-size: 18px;"
                                                           id="birth" th:value="${info.birth}">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="phone" class="col-sm-3 col-form-label">전화번호</label>
                                                <div class="col-sm-9">
                                                    <input type="tel" readonly class="form-control-plaintext text-center"
                                                           pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                                                           style="font-size: 18px;"
                                                           id="phone" th:value="${info.phone}">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="address" class="col-sm-3 col-form-label">주소</label>
                                                <div class="col-sm-9">
                                                    <input type="tel" readonly class="form-control-plaintext text-center"
                                                           style="font-size: 18px;"
                                                           id="address" th:value="${info.address}">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <!-- 이력서 생성 폼 시작 -->
                                <div class="card mt-4 mb-4 p-4 col-11 post-form align-self-center">
                                    <form th:action="@{'/v1/user/resume/update/' + ${resume.id}}" method="post" role="form" class="row align-self-center col-12">


                                    <div class="card mt-3 p-3 col-12 post-form align-self-center">
                                        <div class="col-12 mt-1">
                                            <div class="mb-1">
                                                <label for="title" >제목</label>
                                            </div>
                                            <input type="text" readonly name="title" id="title"
                                                   class="form-control" placeholder="이력서 제목" th:value="${resume.title}" required="" />
                                        </div>

                                            <div class="mb-1">
                                                <label for="job">개발 가능한 직무</label>
                                            </div>
                                            <div th:each="job : ${totalJobs}" class="editJobs" style="display: none;">
                                                <input class="form-check-input" type="checkbox" th:id="'job'+${job.id}"
                                                       name="jobIdSet"
                                                       th:value="${job.id}" th:checked="${jobs.contains(job)}" checked/>
                                                <label class="form-check-label" th:text="${job.name}"></label>
                                                <br/>
                                            </div>
                                            <div th:each="job : ${jobs}" id="jobs" style="display: inline-block;">
                                                <label class="form-check-label bi-person-workspace" th:text="'  '+${job.name}"></label>
                                                <br/>
                                            </div>
                                        </div>
                                        <div class="card mt-3 p-3 col-12 post-form align-self-center">
                                            <div class="mb-1">
                                                <label for="stack">보유한 기술 스택</label>
                                            </div>
                                            <div th:each="stack : ${totalStacks}" class="editStacks" style="display: none;">
                                                <input class="form-check-input" type="checkbox" th:id="'stack'+${stack.id}"
                                                       name="stackIdSet"
                                                       th:value="${stack.id}" th:checked="${stacks.contains(stack)}" checked/>
                                                <label class="form-check-label" th:text="${stack.name}"></label>
                                                <br/>
                                            </div>
                                            <div id="stacks">
                                                <div th:each="stack : ${stacks}"  style="display: inline-block;">
                                                    <label class="form-check-label bi-view-stacked" th:text="'  '+${stack.name}"></label>
                                                    <br/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <h6></h6>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="mb-1">
                                                <label for="education">최종학력</label>
                                            </div>
                                            <input type="text" readonly name="education" id="education"
                                                   class="form-control" placeholder="최종학력을 기입해주세요." th:value="${resume.education}" required="" />
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="mb-1">
                                                <label for="gitLink">GitHub 주소</label>
                                            </div>
                                            <input type="url" readonly class="form-control" id="gitLink" name="gitLink" placeholder="http://www.github.com" th:value="${resume.gitLink}" size="30" required>
                                        </div>

                                        <div class="card mt-3 p-3 col-12 post-form align-self-center" id="item1">
                                            <div class="mb-1">
                                                <label for="careerDetail">경력사항</label>
                                                <button class="btn m-2 visually-hidden" type="button" onclick="calculateAndSetCareer()">경력기간 계산</button>
                                                <input type="text" readonly class="form-control mt-2" name="careerNum" id="careerInput" th:value="'총 경력 : '+${resume.career}" required/>
                                                <input type="hidden" name="career" id="careerCal" th:value="${resume.career}"/>
                                            </div>
                                            <div class="pre_set" id="pre_set1">
                                                <div class="field" id="field1"></div>
                                            </div>
                                        </div>

                                        <!-- 프로젝트 -->
                                        <div class="card mt-3 p-3 col-12 post-form align-self-center" id="item2">
                                            <div class="mb-1">
                                                <label for="projectList">프로젝트</label>
                                            </div>
                                            <div class="pre_set" id="pre_set2">
                                                <div th:each="project : ${resume.projectList}">
                                                    <div class="input-group m-1">
                                                        <input type="text" readonly class="form-control" name="projectList" th:value="${project}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 기타사항 -->
                                        <div class="card mt-3 mb-3 p-3 col-12 post-form align-self-center" id="item3">
                                            <div class="mb-1">
                                                <label for="etcList">기타사항</label>
                                            </div>
                                            <div class="pre_set" id="pre_set3">
                                                <div th:each="etc : ${resume.etcList}">
                                                    <div class="input-group m-1">
                                                        <input type="text" readonly class="form-control" name="etcList" th:value="${etc}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 추후 이력서 공개 여부 추가 필요 -->
                                        <!--<div class="col-12 mt-2 mb-4">
                                            <div class="mb-1">
                                                <label for="open">이력서 공개여부</label>
                                            </div>
                                            <select class="form-select" aria-label="Default select example" id="open" name="open">
                                                <option value="true" selected>공개</option>
                                                <option value="false">비공개</option>
                                            </select>
                                        </div>-->


                                        <div class="row">
                                            <div class="col-3 pt-4 m-auto justify-content-center">
                                                <button type="button"  class="btn" id="editBtn" onclick="enableEditing()">수정하기</button>
                                            </div>
                                            <div class="col-3 pt-4 m-auto justify-content-center">
                                                <button type="button" class="btn" th:attr="data-resume-id=${resume.id}" onclick="confirmDelete(this)">삭제하기</button>
                                            </div>
                                            <div class="col-3 pt-4 m-auto justify-content-center">
                                                <button type="button" class="btn align-self-center" id="cancelBtn" onclick="cancelEditing()" style="display:none;">취소</button>
                                            </div>
                                            <!--
                                            추후 이력서 공개 상태 변경으로 만들기
                                            <div class="col-3 pt-4 m-auto">
                                                <button type="button" id="closedBtn" th:unless="${detail.closed}" class="form-control" onclick="confirmAndClose()">마감하기</button>
                                            </div>-->
                                        </div>

                                        <div class="row">
                                            <div class="col-3 pt-4 m-auto justify-content-center">
                                                <button type="submit" class="form-control" id="submitEdit" style="display:none;">수정완료</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
