<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var resumeButton = document.getElementById('resume');

            resumeButton.addEventListener('click', function () {
                window.location.href = '/v1/user/resume/form';
            });
        });

        // Thymeleaf를 사용하여 데이터 속성을 통해 id 값을 가져오는 함수


        function confirmDelete(button) {
            var resumeId = button.getAttribute('data-resume-id');
            var resumePhoto = button.getAttribute('data-resume-photo');
            var confirmResult = confirm("삭제하시겠습니까?");

            if (confirmResult) {
                // 사용자가 확인을 선택한 경우
                window.location.href = '/v1/user/resume/delete/' + resumeId + '?photo=' + resumePhoto;
            } else {
                // 사용자가 취소를 선택한 경우
                // 아무 동작을 하지 않거나 필요한 작업 수행
            }
        }


    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-3">
                            <h4 class="section-title">나의 이력서</h4>
                        </div>
                    </div>

                    <div class="row col-lg-10 col-12">
                        <div class="col-auto">
                            <button type="button" class="custom-border-option-btn " id="resume">이력서 생성</button>
                        </div>
                        <div class="col-auto justify-content-start my-auto">
                            이력서 생성은 최대 5개까지 가능합니다.
                        </div>
                    </div>

                    <div class="col-12 m-2"></div>

                    <!-- 목록 페이지 시작 -->
                    <h5 class="col-lg-10 col-12 mt-4 mb-4 mb-lg-2 text-center" th:if="${#lists.size(resumeList)==0}">
                        이력서가 없습니다.
                    </h5>
                    <!-- 목록 1칸 -->
                    <div class="col-12 mx-auto" >
                        <div th:each="resume : ${resumeList}" class="col-lg-10 col-12 mb-4 mb-lg-2 mx-auto">
                            <div class="custom-block d-flex">
                                <div class="custom-block-info">
                                    <h5 class="mb-2">
                                        <a th:href="@{'/v1/user/resume/detail/' + ${resume.id}}" th:text="${resume.title}"></a>
                                    </h5>

                                    <div class="row custom-block-bottom d-flex mt-3">
                                        <div class="col-auto d-flex mx-2">
                                            <span th:if="${resume.open}" class="badge rounded-pill btn-primary">공개</span>
                                            <span th:if="${not resume.open}" class="badge rounded-pill bg-secondary">비공개</span>
                                        </div>
                                        <div class="col-auto d-flex mx-2">
                                            <span th:text="'작성일 : ' + ${resume.modifiedAt.substring(0, 10)}"></span>
                                        </div>
                                        <div class="col-auto d-flex mx-2">
                                            <span>지원직무 :</span>
                                            <div th:each="jobId, iterStat : ${resume.jobIdSet}" style="display: inline-block;">
                                                <div th:each="job : ${jobs}" th:if="${job.id eq jobId}">
                                                    <span th:if="${iterStat.index < 5}" th:text="'[' + ${job.name} + ']'"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 버튼 부 -->
                                <div class="d-flex flex-column ms-auto">
                                    <button type="button" class="btn btn-outline-secondary" th:attr="data-resume-id=${resume.id}, data-resume-photo=${resume.photo}" onclick="confirmDelete(this)">
                                        <span class="d-none d-sm-inline">삭제</span> <!-- 데스크탑에서 보이는 텍스트 -->
                                        <span class="d-inline d-sm-none bi-trash"></span> <!-- 모바일에서 보이는 텍스트 -->
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </section>



    </main>
</div>

</html>