<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script>
        // Thymeleaf를 사용하여 데이터 속성을 통해 id 값을 가져오는 함수
        function confirmDelete(button) {
            // Thymeleaf로 설정한 data-id 속성을 통해 id 값을 가져옴
            var id = button.getAttribute("data-id");

            // 확인 창 띄우기
            var isConfirmed = confirm("정말로 삭제하시겠습니까? ID: " + id);

            // 사용자가 확인을 선택한 경우
            if (isConfirmed) {
                // 여기에 실제 삭제 작업을 수행하는 코드 추가
                alert("삭제되었습니다. ID: " + id);
            }
        }
    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">나의 이력서</h4>
                        </div>
                    </div>


                    <div class="row col-lg-10 col-12">
                        <!--<div class="col-auto">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary">최근</button>
                                <button type="button" class="btn btn-outline-secondary">진행중</button>
                                <button type="button" class="btn btn-outline-secondary">마감임박</button>
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="input-group mb-3 ">
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn btn-outline-secondary" type="submit">Go</button>
                            </div>
                        </div>-->
                    </div>

                    <!-- 목록 페이지 시작 -->

                    <!-- 목록 1칸 -->
                    <div class="col-lg-10 col-12 mb-4 mb-lg-2">
                        <div class="custom-block d-flex">
                            <div class="custom-block-info">
                                <h5 class="mb-2">
                                    <a href="detail-page.html">
                                        이력서 제목 입니다.
                                    </a>
                                </h5>

                                <div class="custom-block-bottom d-flex  mt-3">
                                    <div class="col-auto d-flex m-2"><span>지원 직무 : 백엔드</span></div>
                                    <div class="col-auto d-flex m-2"><span>작성일:2023.11.23</span></div>
                                    <div class="col-auto d-flex m-2"><span>상태 : 공개</span></div>
                                </div>
                            </div>

                            <!-- 버튼 부 -->
                            <div class="d-flex flex-column ms-auto">
                                <!-- 추후 th:attr="data-id=${resume.id}" button 내 추가하기 -->
                                <button type="button" class="btn"  onclick="confirmDelete(this)">삭제하기</button>
                            </div>
                        </div>
                    </div>

                    <!-- 목록 1칸 -->
                    <div class="col-lg-10 col-12 mb-4 mb-lg-2">
                        <div class="custom-block d-flex">
                            <div class="custom-block-info">
                                <h5 class="mb-2">
                                    <a href="detail-page.html">
                                        이력서 제목 입니다.
                                    </a>
                                </h5>

                                <div class="custom-block-bottom d-flex  mt-3">
                                    <div class="col-auto d-flex m-2"><span>지원 직무 : 백엔드</span></div>
                                    <div class="col-auto d-flex m-2"><span>작성일:2023.11.23</span></div>
                                    <div class="col-auto d-flex m-2"><span>상태 : 공개</span></div>
                                </div>
                            </div>

                            <!-- 버튼 부 -->
                            <div class="d-flex flex-column ms-auto">
                                <!-- 추후 th:attr="data-id=${resume.id}" button 내 추가하기 -->
                                <button type="button" class="btn"  onclick="confirmDelete(this)">삭제하기</button>
                            </div>
                        </div>
                    </div>

                    <!-- 목록 1칸 -->
                    <div class="col-lg-10 col-12 mb-4 mb-lg-2">
                        <div class="custom-block d-flex">
                            <div class="custom-block-info">
                                <h5 class="mb-2">
                                    <a href="detail-page.html">
                                        이력서 제목 입니다.
                                    </a>
                                </h5>

                                <div class="custom-block-bottom d-flex  mt-3">
                                    <div class="col-auto d-flex m-2"><span>지원 직무 : 백엔드</span></div>
                                    <div class="col-auto d-flex m-2"><span>작성일:2023.11.23</span></div>
                                    <div class="col-auto d-flex m-2"><span>상태 : 공개</span></div>
                                </div>
                            </div>

                            <!-- 버튼 부 -->
                            <div class="d-flex flex-column ms-auto">
                                <!-- 추후 th:attr="data-id=${resume.id}" button 내 추가하기 -->
                                <button type="button" class="btn"  onclick="confirmDelete(this)">삭제하기</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mx-auto">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center mt-5">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li class="page-item active"><a class="page-link" href="#">1</a></li>

                                <li class="page-item"><a class="page-link" href="#">2</a></li>

                                <li class="page-item"><a class="page-link" href="#">3</a></li>

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </section>



    </main>
</div>

</html>