<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <script>
        // 경력사항에 대한 새로운 입력 필드 추가
        function addCareerItem(preSetId, fieldId, type) {
            var preSet = document.getElementById(preSetId);
            var field = document.getElementById(fieldId);

            // 새로운 입력 필드 추가 로직
            var newField = document.createElement("div");
            newField.className = "input-group m-1 career";
            newField.innerHTML = `
        <input type="date" class="form-control" name="${type}_start_date" value="">
        <input type="date" class="form-control" name="${type}_end_date" value="">
        <input type="text" class="form-control" name="${type}_title" value="">
        <input type="hidden" name="${type}DetailList" />
        <button class="btn" type="button" value="삭제" onclick="removeCareerItem(this, '${preSetId}', '${fieldId}', '${type}')">-</button>
    `;
            preSet.appendChild(newField);
        }

        // 경력사항에서 입력 필드 삭제
        function removeCareerItem(button, preSetId, fieldId, type) {
            var parentDiv = button.parentNode;
            var preSet = document.getElementById(preSetId);

            // Check if it's the last item before removing
            if (preSet.querySelectorAll('.career').length > 1) {
                preSet.removeChild(parentDiv);
            } else {
                alert("마지막 항목은 삭제할 수 없습니다.");
            }

            // 기간 계산 및 careerInput에 설정
            calculateAndSetCareer();
        }

        // 경력사항에서 기간 계산
        function calculateAndSetCareer() {
            let totalMonths = 0;

            // 각 input-group의 정보를 담는 배열
            let detailStringArray = [];

            // 모든 입력 필드의 날짜 합산 계산
            document.querySelectorAll('.career').forEach((item, index) => {
                const startElement = item.querySelector('input[name$="_start_date"]');
                const endElement = item.querySelector('input[name$="_end_date"]');
                const careerTitleElement = item.querySelector('input[name$="_title"]');

                if (!startElement || !endElement || !careerTitleElement) {
                    return;
                }

                const startDate = new Date(startElement.value);
                const endDate = new Date(endElement.value);

                // 두 날짜가 같은 경우 0년 0개월로 처리
                if (startDate.getTime() === endDate.getTime()) {
                    return;
                }

                // 각 입력 필드의 년수 및 개월 수 계산
                const years = endDate.getFullYear() - startDate.getFullYear();
                const months = endDate.getMonth() - startDate.getMonth();

                // 전체 년수 및 개월 수에 더함
                totalMonths += years * 12 + months;

                // start_date, end_date, career_title을 문자열로 합쳐 배열에 추가
                const detailString = startElement.value + ' ' + endElement.value + ' ' + careerTitleElement.value;
                detailStringArray.push(detailString);

                // 현재 input-group의 detailString 값을 해당 input-group의 hidden field에 저장
                const hiddenField = item.querySelector('input[name$="DetailList"]');
                if (hiddenField) {
                    hiddenField.value = detailString;
                }
            });

            // 전체 년수 및 개월 수를 년(Y)과 개월(M)로 변환하여 표시
            const totalYears = Math.floor(totalMonths / 12);
            const remainingMonths = totalMonths % 12;

            // 계산된 값을 입력 필드에 설정
            document.getElementById("careerInput").value = isNaN(totalYears) ? '신입' : totalYears + "년 " + remainingMonths + "개월";
            document.getElementById("careerCal").value = isNaN(totalMonths) ? '0' : totalMonths;
        }


        // 프로젝트나 기타사항에 대한 새로운 입력 필드 추가
        function addItem(preSetId, fieldId) {
            var preSet = document.getElementById(preSetId);
            var field = document.getElementById(fieldId);

            // 새로운 입력 필드 추가 로직
            var newField = document.createElement("div");
            newField.className = "input-group m-1";
            newField.innerHTML = `
        <input type="text" class="form-control" name="${fieldId}" value="">
        <button class="btn" type="button" value="삭제" onclick="removeItem(this, '${preSetId}', '${fieldId}')">-</button>
    `;
            preSet.appendChild(newField);
        }

        // 프로젝트나 기타사항에서 입력 필드 삭제
        function removeItem(button, preSetId, fieldId) {
            var parentDiv = button.parentNode;
            var preSet = document.getElementById(preSetId);
            var field = document.getElementById(fieldId);

            // Check if it's the last item before removing
            if (preSet.querySelectorAll('.input-group').length > 1) {
                preSet.removeChild(parentDiv);
            } else {
                alert("마지막 항목은 삭제할 수 없습니다.");
            }
        }

        // 뒤로가기
        function goBack() {
            window.history.back();
        }

        function enableSubmit(){
            var careerInput = document.getElementById('careerCal');
            if (careerInput.value.trim() === '') {
                alert('경력기간 계산이 필요합니다.');
                event.preventDefault();
                /*return false; // 더 이상 진행하지 않음*/
            }

        }

    </script>

    <main>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
        </header>

        <section class="latest-podcast-section" id="section_2">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 전체 박스 크기 -->
                    <div class="col-lg-9 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">이력서 등록</h4>
                        </div>

                        <div class="row justify-content-center">
                            <div class="card bg-outline-light bg-transparent text-dark shadow-lg col-12 post-form">
                                <div class="col-12 mt-5"></div>

                                <!-- 유저의 기본 정보 -->
                                <div class="card p-4 col-11 post-form align-self-center">
                                    <div class="row">
                                        <div class="m-2 col-12 justify-content-around">
                                            <h6 class="justify-content-around align-items-center">
                                                <span th:text="${info.name}"></span> 님의 정보
                                            </h6>
                                        </div>

                                        <div class="col-lg-4 col-12 ps-5 pe-5 align-self-auto">
                                            <img src="/images/niniz.png" class="rounded float-start" alt="templatemo pod talk">
                                        </div>
                                        <!--<div class="col-lg-2 col-12 align-self-auto"></div>-->
                                        <div class="col-lg-6 col-12 ps-5 pe-5 align-self-center">

                                            <div class="mb-3 row">
                                                <label for="name" class="col-sm-3 col-form-label">이름</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control-plaintext text-center"
                                                           style="font-size: 18px;"
                                                           id="name" th:value="${info.name}">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="email" class="col-sm-3 col-form-label">이메일</label>
                                                <div class="col-sm-9">
                                                    <input type="email" readonly class="form-control-plaintext text-center"
                                                           style="font-size: 18px;"
                                                           id="email" th:value="${info.email}">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="birth" class="col-sm-3 col-form-label">생년월일</label>
                                                <div class="col-sm-9">
                                                    <input type="date" readonly class="form-control-plaintext text-center"
                                                           style="font-size: 18px;"
                                                           id="birth" th:value="${info.birth}">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="phone" class="col-sm-3 col-form-label">전화번호</label>
                                                <div class="col-sm-9">
                                                    <input type="tel" readonly class="form-control-plaintext text-center"
                                                           pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                                                           style="font-size: 18px;"
                                                           id="phone" th:value="${info.phone}">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="address" class="col-sm-3 col-form-label">주소</label>
                                                <div class="col-sm-9">
                                                    <input type="tel" readonly class="form-control-plaintext text-center"
                                                           style="font-size: 18px;"
                                                           id="address" th:value="${info.address}">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <!-- 이력서 생성 폼 시작 -->
                                <div class="card mt-4 mb-4 p-4 col-11 post-form align-self-center">
                                    <form action="/v1/user/resume" method="post" role="form" class="row align-self-center col-12">
                                        <div class="col-12 mt-2">
                                            <div class="mb-1">
                                                <label for="title">이력서 제목</label>
                                            </div>
                                            <input type="text" name="title" id="title"
                                                   class="form-control" placeholder="이력서 제목" required="" />
                                        </div>

                                        <div class="card mt-3 p-3 col-12 post-form align-self-center">
                                            <div class="mb-1">
                                                <label for="job">개발 가능한 직무를 골라주세요.</label>
                                            </div>
                                            <div class="card mt-2 mb-4 p-4 col-11 post-form align-self-center">
                                                <div class="scrollable-checkboxes" style="max-height: 150px; overflow-y: auto;">
                                                    <div th:each="job, jobStat : ${jobs}">
                                                        <input class="form-check-input" type="checkbox" id="job" name="jobIdSet" th:value="${job.id}" />
                                                        <label class="form-check-label" th:text="${job.name}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mt-3 p-3 col-12 post-form align-self-center">
                                            <div class="mb-1">
                                                <label for="stack">보유한 기술 스택</label>
                                            </div>
                                            <div class="card mt-2 mb-4 p-4 col-11 post-form align-self-center">
                                                <div class="scrollable-checkboxes" style="max-height: 150px; overflow-y: auto;">
                                                    <div th:each="stack, stackStat : ${stacks}">
                                                        <input class="form-check-input" type="checkbox" id="stack" name="stackIdSet" th:value="${stack.id}" />
                                                        <label class="form-check-label" th:text="${stack.name}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <h6></h6>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="mb-1">
                                                <label for="education">최종학력</label>
                                            </div>
                                            <input type="text" name="education" id="education"
                                                   class="form-control" placeholder="최종학력을 기입해주세요." required="" />
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="mb-1">
                                                <label for="gitLink">GitHub 주소</label>
                                            </div>
                                            <input type="url" class="form-control" id="gitLink" name="gitLink" placeholder="http://www.github.com" value="https://github.com/" size="30" required>
                                        </div>

                                        <!-- 경력사항 -->
                                        <div class="card mt-3 p-3 col-12 post-form align-self-center" id="item1">
                                            <div class="mb-1">
                                                <label for="careerDetail">경력사항</label>
                                                <button class="btn m-2" type="button" onclick="addCareerItem('pre_set1', 'field1', 'career')">+</button>
                                                <button class="btn m-2" type="button" onclick="calculateAndSetCareer()">경력기간 계산</button>
                                                <input type="text" readonly class="form-control" name="careerNum" id="careerInput" />
                                                <input type="hidden" name="career" id="careerCal" value="" />
                                            </div>
                                            <div class="pre_set" id="pre_set1">
                                                <div class="input-group m-1 career">
                                                    <input type="date" class="form-control" name="career_start_date" id="start_date" value="" />
                                                    <input type="date" class="form-control" name="career_end_date" id="end_date" value="" />
                                                    <input type="text" class="form-control" name="career_title" id="career_title" value="" />
                                                    <input type="hidden" name="careerDetailList" id="careerDetailList" />
                                                    <button class="btn" type="button" value="삭제" onclick="removeItem(this)">-</button>
                                                </div>
                                            </div>
                                            <div class="field" id="field1"></div>
                                        </div>

                                        <!-- 프로젝트 -->
                                        <div class="card mt-3 p-3 col-12 post-form align-self-center" id="item2">
                                            <div class="mb-1">
                                                <label for="projectList">프로젝트</label>
                                                <button class="btn m-2" type="button" onclick="addItem('pre_set2', 'projectList')">+</button>
                                            </div>
                                            <div class="pre_set" id="pre_set2">
                                                <div class="input-group m-1">
                                                    <input type="text" class="form-control" name="projectList" value="">
                                                    <button class="btn" type="button" value="삭제" onclick="removeItem(this)">-</button>
                                                </div>
                                            </div>
                                            <div class="field" id="projectList"></div>
                                        </div>

                                        <!-- 기타사항 -->
                                        <div class="card mt-3 mb-3 p-3 col-12 post-form align-self-center" id="item3">
                                            <div class="mb-1">
                                                <label for="etcList">기타사항</label>
                                                <button class="btn m-2" type="button" onclick="addItem('pre_set3', 'etcList', 'etc')">+</button>
                                            </div>
                                            <div class="pre_set" id="pre_set3">
                                                <div class="input-group m-1">
                                                    <input type="text" class="form-control" name="etcList" value="">
                                                    <button class="btn" type="button" value="삭제" onclick="removeItem(this)">-</button>
                                                </div>
                                            </div>
                                            <div class="field" id="etcList"></div>
                                        </div>

                                        <div class="col-12 mt-2 mb-4">
                                            <div class="mb-1">
                                                <label for="open">이력서 공개여부</label>
                                            </div>
                                            <select class="form-select" aria-label="Default select example" id="open" name="open">
                                                <option value="true" selected>공개</option>
                                                <option value="false">비공개</option>
                                            </select>
                                        </div>

                                        <div class="row col-12">
                                            <div class="col-4 pt-4 m-auto justify-content-center">
                                                <div th:if="${postId!=null}">
                                                    <input type="hidden" name="postId" th:value="${postId}">
                                                    <input type="hidden" name="companyId" th:value="${companyId}">
                                                    <input type="hidden" name="postType" th:value="${postType}">
                                                </div>
                                                <button type="submit" class="form-control" onclick="enableSubmit()" >등록하기</button>
                                            </div>
                                            <div class="col-4 pt-4 m-auto justify-content-center">
                                            </div>
                                            <div class="col-4 pt-4 m-auto justify-content-center">
                                                <button type="button" class="form-control" id="back" onclick="goBack()">돌아가기</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

</html>
