<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">

    <main>

        <section class="hero-section">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="text-center">
                            <h1 class="text-black">개발자를 위한 앞서가는 채용 플랫폼</h1>

                            <p class="text-black">For Developers. For Job Seekers.</p>

                            <a href="/v1/company/join" class="btn custom-btn smoothscroll mt-3"> 지금 바로 회원가입하기 </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="trending-podcast-section section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">최신 공고</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block custom-block-full">
                            <div class="custom-block-image-wrap">
                                <a href="detail-page.html">
                                    <img src="/images/podcast/27670664_7369753.jpg" class="custom-block-image img-fluid"
                                         alt="">
                                </a>
                            </div>

                            <div class="custom-block-info">
                                <a href="detail-page.html" class="text-black">
                                    (주)물가올리는형제들
                                </a>

                                <div class="profile-block d-flex justify-content-between mt-2">
                                    <a class="bi-balloon me-1">
                                        <span class="text-black">서울시 종로구</span>
                                    </a>
                                    <span>
                                        ~2023.09.14
                                    </span>
                                </div>

                                <hr>
                                <h5 class="mb-0">웹 백엔드 개발자 채용</h5>

                                <div class="custom-block-bottom d-flex justify-content-between mt-2">
                                    <a class="bi-calendar me-1">
                                        <span class="text-black">경력 n년</span>
                                    </a>

                                    <span>직무명</span>

                                </div>
                            </div>

                            <div class="social-share d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block custom-block-full">
                            <div class="custom-block-image-wrap">
                                <a href="detail-page.html">
                                    <img src="/images/podcast/27670664_7369753.jpg" class="custom-block-image img-fluid"
                                         alt="">
                                </a>
                            </div>

                            <div class="custom-block-info">
                                <a href="detail-page.html" class="text-black">
                                    (주)물가올리는형제들
                                </a>

                                <div class="profile-block d-flex justify-content-between mt-2">
                                    <a class="bi-balloon me-1">
                                        <span class="text-black">서울시 종로구</span>
                                    </a>
                                    <span>
                                        ~2023.09.14
                                    </span>
                                </div>

                                <hr>
                                <h5 class="mb-0">웹 백엔드 개발자 채용</h5>

                                <div class="custom-block-bottom d-flex justify-content-between mt-2">
                                    <a class="bi-calendar me-1">
                                        <span class="text-black">경력 n년</span>
                                    </a>

                                    <span>직무명</span>

                                </div>
                            </div>

                            <div class="social-share d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block custom-block-full">
                            <div class="custom-block-image-wrap">
                                <a href="detail-page.html">
                                    <img src="/images/podcast/27670664_7369753.jpg" class="custom-block-image img-fluid"
                                         alt="">
                                </a>
                            </div>

                            <div class="custom-block-info">
                                <a href="detail-page.html" class="text-black">
                                    (주)물가올리는형제들
                                </a>

                                <div class="profile-block d-flex justify-content-between mt-2">
                                    <a class="bi-balloon me-1">
                                        <span class="text-black">서울시 종로구</span>
                                    </a>
                                    <span>
                                        ~2023.09.14
                                    </span>
                                </div>

                                <hr>
                                <h5 class="mb-0">웹 백엔드 개발자 채용</h5>

                                <div class="custom-block-bottom d-flex justify-content-between mt-2">
                                    <a class="bi-calendar me-1">
                                        <span class="text-black">경력 n년</span>
                                    </a>

                                    <span>직무명</span>

                                </div>
                            </div>

                            <div class="social-share d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="trending-podcast-section section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">최신 공고</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block custom-block-full">
                            <div class="custom-block-image-wrap">
                                <a href="detail-page.html">
                                    <img src="/images/podcast/27670664_7369753.jpg" class="custom-block-image img-fluid"
                                         alt="">
                                </a>
                            </div>

                            <div class="custom-block-info">
                                <a href="detail-page.html" class="text-black">
                                    (주)물가올리는형제들
                                </a>

                                <div class="profile-block d-flex justify-content-between mt-2">
                                    <a class="bi-balloon me-1">
                                        <span class="text-black">서울시 종로구</span>
                                    </a>
                                    <span>
                                        ~2023.09.14
                                    </span>
                                </div>

                                <hr>
                                <h5 class="mb-0">웹 백엔드 개발자 채용</h5>

                                <div class="custom-block-bottom d-flex justify-content-between mt-2">
                                    <a class="bi-calendar me-1">
                                        <span class="text-black">경력 n년</span>
                                    </a>

                                    <span>직무명</span>

                                </div>
                            </div>

                            <div class="social-share d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block custom-block-full">
                            <div class="custom-block-image-wrap">
                                <a href="detail-page.html">
                                    <img src="/images/podcast/27670664_7369753.jpg" class="custom-block-image img-fluid"
                                         alt="">
                                </a>
                            </div>

                            <div class="custom-block-info">
                                <a href="detail-page.html" class="text-black">
                                    (주)물가올리는형제들
                                </a>

                                <div class="profile-block d-flex justify-content-between mt-2">
                                    <a class="bi-balloon me-1">
                                        <span class="text-black">서울시 종로구</span>
                                    </a>
                                    <span>
                                        ~2023.09.14
                                    </span>
                                </div>

                                <hr>
                                <h5 class="mb-0">웹 백엔드 개발자 채용</h5>

                                <div class="custom-block-bottom d-flex justify-content-between mt-2">
                                    <a class="bi-calendar me-1">
                                        <span class="text-black">경력 n년</span>
                                    </a>

                                    <span>직무명</span>

                                </div>
                            </div>

                            <div class="social-share d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block custom-block-full">
                            <div class="custom-block-image-wrap">
                                <a href="detail-page.html">
                                    <img src="/images/podcast/27670664_7369753.jpg" class="custom-block-image img-fluid"
                                         alt="">
                                </a>
                            </div>

                            <div class="custom-block-info">
                                <a href="detail-page.html" class="text-black">
                                    (주)물가올리는형제들
                                </a>

                                <div class="profile-block d-flex justify-content-between mt-2">
                                    <a class="bi-balloon me-1">
                                        <span class="text-black">서울시 종로구</span>
                                    </a>
                                    <span>
                                        ~2023.09.14
                                    </span>
                                </div>

                                <hr>
                                <h5 class="mb-0">웹 백엔드 개발자 채용</h5>

                                <div class="custom-block-bottom d-flex justify-content-between mt-2">
                                    <a class="bi-calendar me-1">
                                        <span class="text-black">경력 n년</span>
                                    </a>

                                    <span>직무명</span>

                                </div>
                            </div>

                            <div class="social-share d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

</div>
</html>